@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    background-color: #5a3d2b;
    color: #f4e3c1;
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 200px;
    margin-left: 100px;
}

.text {
    width: 55%;
    text-align: justify;
}

.text p {
    font-size: 18px;
    line-height: 1.6;
}

.year {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.subtext {
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
}

.images {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.images img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
    height: 700%;
    transition: transform 0.3s ease-in-out;
}

.images img:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    opacity: 0.8;
}